.dropdown-radius {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-text {
  background-color: transparent;
  cursor: pointer;
}

.table-hover {
  cursor: pointer;
}

.item-icon{
  width: 48px;
  height: 48px
}

.form-spacing {
  margin-right: 15px;
}
